<div class="container h-100">
    <div class="row h-100">
        <div class="col-md-6 py-3">
            <div class="d-flex h-100">
                <div class="align-self-center">
                    <h1 class="font-weight-bold">We would like you to share your experiences and thoughts with us on your cancer diagnosis</h1>
                    <p class="mt-4">Please take a moment to answer a series of short questions for us to understand how your cancer diagnosis impacted your life</p>
                    <a href="question" class="btn mt-5">Take part in the study</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 py-3">
            <div class="d-flex h-100">
                <div class="align-self-center">
                    <img src="images/cancers.png" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>