<div class="container h-100">
    <div class="row h-100">
        <div class="col-md-12">
            <div class="d-flex h-100">
                <div class="align-self-center text-center">
                    <div class="row mb-5">
                        <div class="offset-md-1 col-md-10">
                            <h3 class="mt-4">At the time of diagnosis, I left the clinic/office understanding my diagnosis and treatment plan?</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-md-3 col-md-6">
                            <h4 class="question border border-white mb-0 p-3 first">Strongly Agree</h4>
                            <h4 class="question border border-white border-top-0 mb-0 p-3">Agree</h4>
                            <h4 class="question border border-white border-top-0 mb-0 p-3">Agree</h4>
                            <h4 class="question border border-white border-top-0 mb-0 p-3">Agree</h4>
                            <h4 class="question border border-white border-top-0  mb-0 p-3 last">Strongly Disagree</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-md-3 col-md-6 mt-5">
                            <div class="position-relative px-4">
                                <div class="step-start bg-white text-center"><i class="fa fa-3x fa-angle-right text-purple"></i>
                                </div>
                                <div class="progress-bar bg-purple"></div>    
                                <div class="step-end bg-white text-center"></div>
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="offset-md-4 col-md-4">
                            <a ng-href="/question" class="btn btn-block mt-3 font-weight-bold"><h4>Next</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>