<div class="container h-100" ng-if="exist">
    <div class="row h-100">
        <div class="col-md-12">
            <div class="d-flex h-100">
                <div class="align-self-center text-center w-100">
                    <div class="row mb-3">
                        <div class="offset-md-1 col-md-10">
                            <h3 class="mt-5">{{description}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-md-3 col-md-6">
                            <div class="questions border border-white">
                                    <h4 class="mb-0 question p-3"
                                        ng-repeat="(key, option) in options" 
                                        ng-class="{'activate': option_id == option.id, 'border-top': key != 0}" 
                                        ng-click="selectOption(option.id, option.link_question_id)">
                                        {{option.basic_option.description}}
                                    </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-md-3 col-md-6 mt-5">
                            <div class="position-relative px-4">
                                <div class="step-start bg-white text-center"><i class="fa fa-3x fa-angle-right text-purple"></i>
                                </div>
                                <div class="progress-bar bg-purple"></div>    
                                <div class="step-end bg-white text-center"></div>
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="offset-md-4 col-md-4">
                            <a ng-href="/question/{{question_id}}" class="btn btn-block my-3 font-weight-bold"><h4 class="m-0">Next</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>