
@import "variables";

/*
 =============================
      Fit Screen
 =============================
 */
  
html, body {
    font-family: $font-montserrat;
    font-weight: normal;
    color: $white;
}
  
/*
 =============================
    Global
 =============================
 */
.btn {
    background-color: $white;
    color: #777;
    border-color: $white;
    border-radius: 20px;
    padding: 10px 30px;
}

.bg-pink {
    background-color: $pink;
    border-color: $pink;
}

.bg-purple {
    background-color: $purple;
    border-color: $purple;
}

.text-pink {
    color: $pink;
}

/*
 =============================
    Navbar
 =============================
 */
.navbar-brand {
    font-family: $font-flama;
}

/*
 =============================
    Content
 =============================
 */
.page-content {
    padding-top: 76px;
    padding-bottom: 76px;
    .container {
        overflow: auto;
    }
}

/*
 =============================
    Footer
 =============================
 */
.social-icons li a {
    width: 40px;
    height: 40px;
    display: block;
    i {
        line-height: 40px;
        font-size: 20px;   
    }
}

/*
 =============================
    Question
 =============================
 */

.first {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.last {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}