
@import "variables";

/*
 =============================
      Fit Screen
 =============================
 */
  
html, body {
    font-family: $font-montserrat;
    font-weight: normal;
    color: $white;
}
  
/*
 =============================
    Global
 =============================
 */
.btn {
    background-color: $white;
    color: #777;
    border-color: $white;
    border-radius: 20px;
    padding: 10px 30px;
}

.bg-pink {
    background-color: $pink;
    border-color: $pink;
}

.bg-purple {
    background-color: $purple;
    border-color: $purple;
}

.text-pink {
    color: $pink;
}

.text-purple {
    color: $purple;
}

/*
 =============================
    Navbar
 =============================
 */
.navbar-brand {
    font-family: $font-flama;
}

/*
 =============================
    Content
 =============================
 */
.page-content {
    padding-top: 76px;
    padding-bottom: 76px;
    .container {
        overflow: auto;
    }
}

/*
 =============================
    Footer
 =============================
 */
.social-icons li a {
    width: 40px;
    height: 40px;
    display: block;
    i {
        line-height: 40px;
        font-size: 20px;   
    }
}

/*
 =============================
    Question
 =============================
 */
.question {
    cursor: pointer;
    &:hover {
        background-color: #d094d0;
    }
}

.first {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.last {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@mixin step() {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 12px;
    line-height: 1.42857;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.step-start {
    @include step();
    left: 0;
    i {
        line-height: 40px;
    }
}

.step-end {
    @include step();
    right: 0;
    i {
        line-height: 40px;
    }
}

.progress-bar:before {
    content: "";
    width: 20%;
    height: 8px;
    transition: .3s;
    background-color: #fff;
}